<mat-tab-group>
  <mat-tab label="Friday">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>North Building </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>First Floor</h3>
        <div class="table-container">
          <div>

            <table mat-table [dataSource]="timeValues">
              <ng-container matColumnDef="time" sticky>
                <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'"> Time </th>
                <td mat-cell *matCellDef="let element" [ngClass]="['w-200', 'text-bold']">
                  <div class="time-cell">
                    {{element}}
                  </div>
                </td>
              </ng-container>
              <ng-container [matColumnDef]="column" *ngFor="let column of northFirstFloorLocationNoTime">
                <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'">
                  {{ column }}
                </th>

                <td mat-cell *matCellDef="let element" [ngClass]="'w-200'">
                  <div class="text-bold cell-width">

                    {{
                    column === 'time'
                    ? element
                    : eventHashMap[column][element]
                    ? formatEventText(eventHashMap[column][element])
                    : ''
                    }}
                  </div>
                  <div>

                    {{
                    column === 'time'
                    ? ''
                    : eventHashMap[column][element]
                    ? formatTimeText(eventHashMap[column][element])
                    : ''
                    }}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="northFirstFloorLocation; sticky : true">
              </tr>
              <tr mat-row *matRowDef="let row; columns: northFirstFloorLocation"></tr>
            </table>

          </div>
        </div>
        <h3>Second Floor</h3>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of northSecondFloorLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : eventHashMap[column][element]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="northSecondFloorLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: northSecondFloorLocation"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>West Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of westVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : eventHashMap[column][element]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="westVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: westVenueLocation"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Special Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of specialVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : eventHashMap[column][element]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specialVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: specialVenueLocation"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Saturday">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> North Building </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>First Floor</h3>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of northFirstFloorLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : saturdayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="northFirstFloorLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: northFirstFloorLocation"></tr>
        </table>
        <h3>Second Floor</h3>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of northSecondFloorLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : saturdayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="northSecondFloorLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: northSecondFloorLocation"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> West Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of westVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : saturdayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="westVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: westVenueLocation"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Special Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of specialVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : saturdayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specialVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: specialVenueLocation"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Sunday">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> North Building </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>First Floor</h3>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of northFirstFloorLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : sundayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="northFirstFloorLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: northFirstFloorLocation"></tr>
        </table>
        <h3>Second Floor</h3>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of northSecondFloorLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : sundayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="northSecondFloorLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: northSecondFloorLocation"></tr>
        </table>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> West Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of westVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : sundayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="westVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: westVenueLocation"></tr>
        </table>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Special Building </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="timeValues">
          <ng-container [matColumnDef]="column" *ngFor="let column of specialVenueLocation">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

            <td mat-cell *matCellDef="let element">
              {{
              column === 'time'
              ? element
              : sundayHashMap[column]
              ? formatText(eventHashMap[column][element])
              : ''
              }}
              <!-- {{ getEvent(column, element) }} -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specialVenueLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: specialVenueLocation"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>