p {
  font-family: Lato;
}
table {
  width: 100%;
}
.border-table {
  border: 1px solid grey;
}
.building-name {
  font-weight: bold;
  font-size: larger;
  padding: 8px;
}
.room-category {
  padding: 8px;
  text-decoration: underline;
  margin: 16px;
  font-size: large;
}
.table-container {
  display: flex;
  overflow: auto;
  margin: 16px;
  width: 100%;
  max-height: 55rem;
  .text-bold {
    font-weight: bold;
    font-size: small;
  }

  .mat-row:nth-child(even) {
    background-color: rgb(247, 248, 233);
  }

  .mat-row:nth-child(odd) {
    background-color: rgb(224, 248, 204);
  }

  .w-200 {
    width: 200px;
    padding-left: 4px;
  }
  .w-50 {
    width: 50px;
  }

  .cell-width {
    width: 200px;
  }
  .time-cell {
    width: 75px;

    font-size: small;
  }
}

.table-container-mobile-view {
  display: flex;
  overflow: auto;
  margin: 0px;
  width: 100%;

  .text-bold {
    font-size: 11px;
    font-weight: bold;
  }
  .table-container {
    display: flex;
    overflow: auto;
    margin: 16px;
    width: 1000px;

    .mat-row:nth-child(even) {
      background-color: rgb(247, 248, 233);
    }

    .mat-row:nth-child(odd) {
      background-color: rgb(224, 248, 204);
    }

    .w-200 {
      width: 200px;
    }
    .w-50 {
      width: 50px;
    }

    .cell-width {
      width: 200px;
      padding-left: 8px;
    }
    .time-cell {
      width: 75px;
      font-size: 11px;
      padding-left: 8px;
    }
  }
  .mat-row:nth-child(even) {
    background-color: rgb(247, 248, 233);
  }

  .mat-row:nth-child(odd) {
    background-color: rgb(224, 248, 204);
  }

  .w-200 {
    width: 200px;
  }
  .w-50 {
    width: 50px;
  }

  .cell-width {
    width: 200px;
  }
  .time-cell {
    width: 25px;

    font-size: 11px;
  }
}

.p-4 {
  padding: 16px;
}
