<table mat-table [dataSource]="timeValues">

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'">
      Time
    </th>

    <td mat-cell *matCellDef="let element" [ngClass]="'w-200'">
      <div class="text-bold cell-width">
        {{element}}
      </div>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of venues">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'">
      {{ column }}
    </th>

    <td mat-cell *matCellDef="let element" [ngClass]="'w-200'">
      <div class="text-bold cell-width">
        {{
        column === 'time'
        ? element
        : eventHashMap[column][element]
        ? formatEventText(eventHashMap[column][element])
        : ''
        }}
      </div>
      <div>
        {{
        column === 'time'
        ? ''
        : eventHashMap[column][element]
        ? formatTimeText(eventHashMap[column][element])
        : ''
        }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="venueLocationsDisplay; sticky : true">
  </tr>
  <tr mat-row *matRowDef="let row; columns: venueLocationsDisplay"></tr>
</table>