<table mat-table class="pc-view" [dataSource]="timeValuesDisplay" *ngIf="!isMobile; else mobileViewTable">

  <ng-container matColumnDef="time" sticky>
    <th mat-header-cell *matHeaderCellDef>
      Time
    </th>

    <td mat-cell *matCellDef="let element">
      <div class="text-bold time-cell">
        {{element}}

      </div>
    </td>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of venues">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'">
      {{ column }}
    </th>

    <td mat-cell *matCellDef="let element" [ngClass]="'w-200'">
      test
      <!-- 
      <div class="text-bold cell-width">
        {{ eventHashMap[column]
        ? formatEventText(eventHashMap[column][element])
        : ''
        }}
      </div>
      <div>
        {{ eventHashMap[column]
        ? formatTimeText(eventHashMap[column][element])
        : ''
        }}
      </div> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="venueLocationsDisplay; sticky : true">
  </tr>
  <tr mat-row *matRowDef="let row; columns:venueLocationsDisplay"></tr>
</table>

<ng-template #mobileViewTable>

  <div class="mobile-view">

    <table mat-table [dataSource]="timeValuesDisplay">

      <ng-container matColumnDef="time" sticky>
        <th mat-header-cell *matHeaderCellDef>
          Time
        </th>

        <td mat-cell *matCellDef="let element; let i = index; let last = last">
          <div class="text-bold time-cell">
            {{element}}
            {{!last ? '- ' + timeValuesDisplay[i +1]: ''}}
          </div>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="column" *ngFor="let column of venues">
        <th mat-header-cell *matHeaderCellDef [ngClass]="['w-200', 'header-row']">
          {{ column }}
        </th>

        <td mat-cell *matCellDef="let time" [ngClass]="'w-200'" [ngClass]="{
            'starting-cell': eventHashMap[column][time],
            'cell-white': somethingHappening(column,time)}
            ">

          <div class="cell-width">

            <span>

              {{
              isStartTime(time) && eventHashMap[column]
              ? formatEventText(eventHashMap[column][time])
              : ''
              }}
            </span>
            <!-- <div class="text-bold">
              {{
              isStartTime(time) && eventHashMap[column]
              ? formatTimeText(eventHashMap[column][time])
              : ''
              }}
            </div> -->
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="venueLocationsDisplay">
      </tr>
      <tr mat-row *matRowDef="let row; columns:venueLocationsDisplay"></tr>
    </table>

  </div>
</ng-template>